body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light Blue */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: serif;
    font-size: 30px;
    color: #2c3e50; 
    text-align: center;
}

h3 {
    font-size: 22px;
    color: #d35400; 
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
    margin: 10px 15px;
}

hr {
    display: none;
}

div {
    margin: 15px;
    padding: 10px;
    background: #dff9fb;
}